<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño Multimedia</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <header>
        <h2>Diseño <span id="diseño2"> Multimedia</span></h2>
        <nav>
            <a href="../index.html">INICIO</a>
            <a href="./nosotros.html">NOSOTROS</a>
            <a href="./servicios.html">SERVICIOS</a>
            <a href="./contacto.html">CONTACTO</a>
        </nav>
    </header>
    <section class="boletin">
        <h3>Suscríbete a nuestro boletín</h3>
        <div class="boletin-form">
            <input type="email" placeholder="Ingrese el Email...">
            <button>Suscribirse</button>
        </div>
    </section>
    <section class="contact-section">
        <form class="contact-form">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" placeholder="Ingresa tu nombre">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Ingresa tu email">
            <label for="telefono">Teléfono</label>
            <input type="text" id="telefono" placeholder="Ingresa tu teléfono">
            <label for="celular">Celular</label>
            <input type="text" id="celular" placeholder="Ingresa tu celular">
            <label for="mensaje">Mensaje</label>
            <textarea id="mensaje" rows="4"></textarea>
            <button type="submit" class="submit-button">Enviar</button>
        </form>
        <div class="map-container">
            <div class="map-description">
                <h4>Qué hacemos</h4>
                <p>Lorem ipsum dolor sit amet, coconsectetur adipiscing elit. Donec varius auctor lacus nec feugiat,  consectetur adipiscing elit. Donec varius auctor lacus ne nsectetur adipiscing elit. Donec varius auctor lacus nec feugiat,  consectetur adipiscing elit. Donec varius auctor lacus nec feugiat.</p>
            </div>
            <img src="../assets/images/mapaGoogle.png" alt="Mapa" class="map-image">
        </div>
    </section>
    <footer class="footer">
        <p>Graphel Desarrollo Web, Copyright © 2017</p>
    </footer>
</body>

</html>
