<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <header>
        <h2>Diseño <span id="diseño2"> Multimedia</span></h2>
        <nav>
            <a href="../index.html">INICIO</a>
            <a href="./nosotros.html">NOSOTROS</a>
            <a href="./servicios.html">SERVICIOS</a>
            <a href="./contacto.html">CONTACTO</a>
        </nav>
    </header>

    <section class="boletin">
        <h3>Suscríbete a nuestro boletín</h3>
        <div class="boletin-form">
            <input type="email" placeholder="Ingrese el Email...">
            <button>Suscribirse</button>
        </div>
    </section>

    <section class="nosotros-contenido">
        <div class="nosotros-text-img">
        <div class="nosotros-texto">
            <h3>Nosotros</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat.
                Phasellus sit amet ex ipsum. Praesent pharetra Praesent pharetra tincidunt tempor. Etiam tincidunt tempor. Etiam Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta
                in, lacinia et magna.
            </p>
            <p id="texto2">
                Aliquam eget pharetra diam. Nulla placerat lorem at turpis tempor, vel ultrices dui tincidunt.
                Proin                 Aliquam eget pharetra diam. Nulla placerat lorePraesent pharetra tincidunt tempor. Etiam Praesent pharetra tincidunt tempor. Etiam m at turpis tempor, vel ultrices dui tincidunt.
                Proin quis egestas lorem. Mauris vehicula lectus odio, sit amet dictum justo feugiat a.quis egestas lorem. Mauris vehicula lectus odio, sit amet dictum justo feugiat a.
            </p>
        </div>
        <div class="nosotros-imagen">
            <img src="../assets/images/891.jpg" alt="Imagen de un teclado">
        </div>
    </div>
        <div class="nosotros-lado">
            <h4>Qué hacemos</h4>
            <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat.</p>
        </div>
    </section>

    <footer>
        <p>Graphel Desarrollo Web, Copyright © 2017</p>
    </footer>
</body>

</html>
