<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <header>
        <h2>Diseño <span id="diseño2"> Multimedia</span></h2>
        <nav>
            <a href="../index.html">INICIO</a>
            <a href="./nosotros.html">NOSOTROS</a>
            <a href="./servicios.html">SERVICIOS</a>
            <a href="./contacto.html">CONTACTO</a>
        </nav>
    </header>
    <section class="boletin">
        <h3>Suscríbete a nuestro boletín</h3>
        <div class="boletin-form">
            <input type="email" placeholder="Ingrese el Email...">
            <button>Suscribirse</button>
        </div>
    </section>
    <section class="servicios-contenido">
        <div class="servicios-lista">
            <h3>Servicios</h3>
            <div class="servicios-item">
                <h4>Diseño Web</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet
                    ultrices at, vulputate id lorem. Nulla facilisi.</p>
                <p><strong>Precio:</strong> $300,000 - $1,000,000</p>
            </div>
            <div class="servicios-item">
                <h4>Desarrollo Web</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet
                    ultrices at, vulputate id lorem. Nulla facilisi.</p>
                <p><strong>Precio desde:</strong> $1,000,000</p>
            </div>
            <div class="servicios-item">
                <h4>Hosting Web</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet
                    ultrices at, vulputate id lorem. Nulla facilisi.</p>
                <p><strong>Precio:</strong> $300,000</p>
            </div>
        </div>
        <div class="servicios-acerca">
            <h4>Qué hacemos</h4>
            <p>Lorem ipsum dolor sit amet, coconsectetur adipiscing elit. Donec varius auctor lacus nec feugiat,  consectetur adipiscing elit. Donec varius auctor lacus ne nsectetur adipiscing elit. Donec varius auctor lacus nec feugiat,  consectetur adipiscing elit. Donec varius auctor lacus nec feugiat.</p>
        </div>
    </section>
    <footer>
        <p>Graphel Desarrollo Web, Copyright © 2017</p>
    </footer>
</body>

</html>
